
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneraterOrder</title>
</head>
<body>

    <label>起点:</label><input type="text" name="name" value=" " />
    <br/>
    <label>目的地:</label><input type="text" name="name" value=" " />
    <br/>
    <select><option>起点楼层</option></select><select><option>重点楼层</option></select>
    <br/>
    <p>

        这里展示车型.......

    </p> 
    <label>什么时候搬</label><input type="text" name="name" value=" " />
    <br />
    <label>怎么称呼您:</label><input type="text" name="name" value=" " />
    <br />
    <label>您的电话号码:</label><input type="text" name="name" value=" " />
    <br />
    <label>给司机捎个话:</label><input type="text" name="name" value=" " />
    <br />

    <input type="button" name="name" value="好了" />

    <script type="text/javascript">
        //入口
        $(function () {






        })
    </script>
</body>
</html>
