@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>小风搬家-搬家神器</title>
    <meta name="keywords" content="小风搬家,学生搬家,毕业搬家,搬家公司，北京搬家公司，网上搬家，互联网搬家公司，搬家吉日，全国连锁搬家公司" />
    <meta name="description" content="小风搬家————互联网时代的搬家神器。专为年轻人、专注小型搬家。简单、便宜、安心。”，一键下单、轻松搬家。欢迎致电，15801373672。" />

    <link href="~/Style/css/index.css" rel="stylesheet" />
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <style>
    </style>
</head>
<body>
    <nav class="top-nav">
        <a class="logo" href="http://www.xiaofengbanjia.com">
            小风搬家
        </a>
        <a class="float-right">
            400-880-7870
        </a>
        <a class="float-right" href="../pages/contactUs.html">
            联系我们
        </a>
        <a class="float-right" href="../pages/aboutus.html">
            关于我们
        </a>
    </nav>
    <div class="container">
        <!--轮播-->
        <section class="pic-round">
            <div id="pages-wrapper">
                <div class="pages" id="pic-city">
                    <i class="glass"></i>
                    <div class="intro">
                        <h1>让天下的年轻人可以自由迁徙</h1>
                        <h2>你有更好的选择</h2>
                        <a onmouseout="document.getElementById('showCode1').style.display='none'"
                           onmouseover="document.getElementById('showCode1').style.display=''" class="ghost-button">点击下单</a>
                        <div>&nbsp</div>
                        <div id="showCode1" style="display:none;">
                            <img src="../images/we_chat_code.jpg" width="160" />
                        </div>
                    </div>
                </div>
                <div class="pages" id="pic-customer">
                    <i class="glass"></i>
                    <div class="intro">
                        <h1>轻松下单&nbsp;&nbsp;全程保障</h1>
                        <h2>前所未有的简单、安全</h2>
                        <a onmouseout="document.getElementById('showCode2').style.display='none'"
                           onmouseover="document.getElementById('showCode2').style.display=''" class="ghost-button">点击下单</a>
                        <div>&nbsp</div>
                        <div id="showCode2" style="display:none;">
                            <img src="../images/we_chat_code.jpg" width="160" />
                        </div>
                    </div>
                </div>
                <div class="pages" id="pic-driver">
                    <i class="glass"></i>
                    <div class="intro">
                        <h1>专业司机&nbsp;&nbsp;严格审核培训</h1>
                        <h2>只为你更好的体验</h2>
                        <a onmouseout="document.getElementById('showCode3').style.display='none'"
                           onmouseover="document.getElementById('showCode3').style.display=''" class="ghost-button">点击下单</a>
                        <div>&nbsp</div>
                        <div id="showCode3" style="display:none;">
                            <img src="../images/we_chat_code.jpg" width="160" />
                            <input type='hidden' value='小风搬家，终于上线了！
小风搬家，专为年轻人，专注小型搬家。
追求简单、快捷、高质。
小风搬家团队是一帮崇尚互联网精神、崇尚自由、崇尚简单的年轻人。他们和多数奋斗在城市的年轻人一样，努力工作、热爱生活，渴望自由迁徙，却不得不忍受一次次糟糕的搬家体验。
他们思考，能否通过自己的努力和行动来改变现状，于是他们深入一线——
小风搬家团队的每一位队员，深入搬家一线数月，了解行业现状和搬家的每一个细节，
与每一位可以被找到搬家师傅和客户，进行深入沟通，了解他们的真实需求与困惑。
他们发现搬家行业有太多可改进的地方：
找车困难——无可靠来源，筛选有效信息困难；
定价不明——无定价标准，讨价还价费心费力；
服务不佳——无服务意识，客户体验不尽人意；
坐地加价——无监督管理，随意加价难以避免；
毫无保障——无理赔机制，物品损坏无处索赔。
搬次家如此繁琐，找车、定价、索赔......一系列的问题全要由自己解决，费心费力，累身累神。
针对这些问题，结合司机和顾客的需求，小风搬家团队做了一系列统计分析，决定用互联网的方式帮客户实现简单、快捷、透明的搬家。经过不断调试与修改，最终诞生了“小风搬家”的微信服务号。只需简单几步，搬家师傅即可上门，一次搬家轻松完成。
一改以往痛苦的搬家经历，小风搬家可轻松实现：
一键叫车——全城优质司机入驻，随时待命；
就近派单——身边司机接单，省时省钱；
价格透明——统一定价标准，告别漫天要价、随意加价；
优化服务——严格的司机培训，完善的评价体系，保证服务质量；
全程保障——完整的赔付机制，第三方保险提供保障。
小风搬家，不仅是一个搬家平台，更是一种生活方式——简单、快捷、高质。
关注本号即可体验最便捷的搬家方式，我们期待为您服务。
如有任何疑问，欢迎致电咨询：
15801373672
想小风搬家，就小风搬家！
小风搬家司机，随时待命为您服务。
长按下图二维码，即可关注下单。
首单可享20元优惠哦~
如有疑问，请致电客服：
15801373672。'>
                        </div>
                    </div>
                </div>



            </div>
            <i class="prev"></i>
            <i class="next"></i>
        </section>
        <section id="feature-cards-wrapper">
            <article class="feature-cards">
                <i id="p21"></i>
                <p>小风搬家<br />一站式服务</p>
            </article>
            <article class="feature-cards">
                <i id="p22"></i>
                <p>最优司机<br />全程赔付</p>
            </article>
            <article class="feature-cards">
                <i id="p23"></i>
                <p>一键下单<br />轻松简单</p>
            </article>
        </section>
        <section id="pic-intro">
            <i></i>
        </section>
    </div>
    <footer>
        <ul>
            <li style="padding-right: 0;padding-left: 0">
                <div>
                    <h2>
                        客户服务
                    </h2>
                </div>
                <div>
                    <a href="tel:400-880-7870"><h2>400-880-7870</h2></a>
                    <!--<div class="phone"></div>-->
                </div>
                <div>
                    <a href="mailto:hi@banar.cn"><h2>hi@banar.cn</h2></a>
                </div>


            </li>
            <li>
                <setcion class="footer-section">
                    <div>
                        <h2>关于小风搬家</h2>
                    </div>
                    <div>
                        <a href="../pages/aboutus.html">关于我们</a>
                    </div>
                    <div>
                        <a href="../pages/contactUs.html">联系我们</a>
                    </div>
                    <div>
                        <a href="../pages/contactUs.html">加入我们</a>
                    </div>
                    <!--<div>-->
                    <!--<a href="#">最新动态</a>-->
                    <!--</div>-->

                </setcion>
            </li>
            <li>
                <setcion class="footer-section">
                    <div>
                        <h2>服务保障</h2>
                    </div>
                    <div>
                        <a href="../pages/contactUs.html">帮助中心</a>
                    </div>
                    <div>
                        <a href="../pages/other.html">使用条款</a>
                    </div>
                    <div>
                        <a href="../pages/privacy.html">隐私政策</a>
                    </div>

                </setcion>
            </li>

        </ul>
        <!--  <div id="footer-company-id">
                 <h2>关注我们</h2>
             <ul>
                 <li>
                     <section class="footer-section">
                         <div>
                             <a href="#"><h2>微信平台</h2></a>
                         </div>
                         <div>
                             <img src="http://banar-static.oss-cn-beijing.aliyuncs.com/banar_wechat.png" width="120"/>
                         </div>
                         <div>
                             <a class="icon-link" href="#"><i id="icon-wechat"></i>小风搬家</a>
                         </div>
                     </section>
                 </li>
                 <li>
                     <section class="footer-section">
                         <div>
                             <a href="http://weibo.com/banarcn" > <h2>官方微博</h2></a>
                         </div>
                         <div>
                             <img src="http://banar-static.oss-cn-beijing.aliyuncs.com/qr_weibo.jpg" width="116" style="border: 2px solid #fff">
                         </div>
                         <div>
                             <a class="icon-link" href="http://weibo.com/banarcn"><i id="icon-weibo"></i>小风搬家</a>
                         </div>
                     </section>
                 </li>
             </ul>
             <p>Copyright © 2015 小风搬家科技   京ICP备15007319号</p>
         </div> -->
    </footer>
    <div class="modal-bg">
        <div class="modal-window">

        </div>
    </div>
    <script src="http://banar-static.oss-cn-beijing.aliyuncs.com/js/picRound.js"></script>
    <script>



    document.body.onload = function () {
        //        setTimeout(function(){
        //            $(".top-nav").slideDown(500);
        //        },300);
    };
    picRound.init();
    </script>
</body>
</html>
